<h2>Sign Up</h2>
<form action="Register" id="ContactUsCaptchaWebForm" method="get" onsubmit="return ValidateForm(this);">
<input id="SnapHostID" name="SnapHostID" type="hidden" value="QQG4GHGDMJRQ" />
<script type="text/javascript">
function ValidateForm(frm) {
if (frm.FirstName.value == "") {alert('First Name is required.');frm.FirstName.focus();return false;}
if (frm.LastName.value == "") {alert('Last Name is required.');frm.LastName.focus();return false;}
if (frm.Password.value == "") {alert('Phone is required.');frm.Phone.focus();return false;}
if (frm.Phone.value == "") {alert('Phone is required.');frm.Phone.focus();return false;}
var phoneno = /^\d{10}$/; 
if(frm.Phone.value.match(phoneno))
    {  
      return true;  
  }  
  else  
  {  
     alert("Not a valid Phone Number");  
     frm.Phone.focus()
     return false;  
  }  

if (frm.FromEmailAddress.value == "") {alert('Email address is required.');frm.FromEmailAddress.focus();return false;}
if (frm.FromEmailAddress.value.indexOf("@") < 1 || frm.FromEmailAddress.value.indexOf(".") < 1) {alert('Please enter a valid email address.');frm.FromEmailAddress.focus();return false;}
if (frm.StreetAddress1.value == "") {alert('Address is required.');frm.StreetAddress1.focus();return false;}
if (frm.City.value == "") {alert('City is required.');frm.City.focus();return false;}
if (frm.Country.value == "") {alert('Country is required.');frm.Country.focus();return false;}

return true; }
function ReloadCaptchaImage(captchaImageId) {
var obj = document.getElementById(captchaImageId);
var src = obj.src;
var date = new Date();
var pos = src.indexOf('&rad=');
if (pos >= 0) { src = src.substr(0, pos); }
obj.src = src + '&rad=' + date.getTime();
return false; }
</script>
<table border="0" cellpadding="5" cellspacing="0" width="600">
<tr>
<td><b>First, Last Name*:</b></td>
<td>
<input id="FirstName" name="fname" type="text" maxlength="60" style="width:146px; border:1px solid #999999" />
<input id="LastName" name="lname" type="text" maxlength="60" style="width:146px; border:1px solid #999999" />
</td>
</tr><tr>

<td><b>Email address*:</b></td>
<td><input id="FromEmailAddress" name="email" type="text" maxlength="60" style="width:300px; border:1px solid #999999" /></td>
</tr><tr>

<td><b>Password*:</b></td>
<td><input id="Password" name="pass" type="password" maxlength="60" style="width:300px; border:1px solid #999999" /></td>
</tr><tr>


<td><b>Mobile*:</b></td>
<td><input id="Phone" name="mobile" type="text" maxlength="43" style="width:250px; border:1px solid #999999" /></td>
</tr><tr>

<td><b>Address 1*:</b></td>
<td><input id="StreetAddress1" name="address1" type="text" maxlength="120" style="width:350px; border:1px solid #999999" /></td>
</tr><tr>
<td><b>Address 2:</b></td>
<td><input id="StreetAddress2" name="address2" type="text" maxlength="120" style="width:350px; border:1px solid #999999" /></td>
</tr><tr>
<td><b>City*:</b></td>
<td><input id="City" name="city" type="text" maxlength="120" style="width:300px; border:1px solid #999999" /></td>
</tr><tr>
<td><b>State*:</b></td>
<td><input id="State" name="state" type="text" maxlength="120" style="width:300px; border:1px solid #999999" /></td>
</tr><tr>
<td><b>Zip/Postal Code*:</b></td>
<td><input id="Zip" name="zip" type="text" maxlength="30" style="width:100px; border:1px solid #999999" /></td>
</tr><tr>
<td><b>Country*:</b></td>
<td><input id="Country" name="Country" type="text" maxlength="120" style="width:300px; border:1px solid #999999" /></td>
</tr><tr>
<td colspan="2" align="center">
<br />
<table border="0" cellpadding="0" cellspacing="0">
<tr valign="top">
<td>
<i>Enter web form code*:</i>
<input id="CaptchaCode" name="CaptchaCode" type="text" style="width:80px; border:1px solid #999999;" maxlength="6" />
</td><td>
<a href="http://www.SnapHost.com"><img id="CaptchaImage" alt="Web Form Code" title="Anti-spam web forms"
style="margin-left:20px; border:1px solid #999999"
src="http://www.SnapHost.com/captcha/WebForm.aspx?id=QQG4GHGDMJRQ&ImgType=2" /></a>
<br /><a href="#" onclick="return ReloadCaptchaImage('CaptchaImage');"><span style="font-size:12px;">reload image</span></a>
</td>
</tr>
</table>
<br />
* - required fields. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<input id="skip_Submit" name="skip_Submit" type="submit" value="Submit" />
</td>
</tr>
</table>
<br />
</form>